{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <form action="/passchange" method="post">
        <label>
            <input name="type" type="radio" value="volunteer">
            Volunteer
        </label> <br>
        <label>
            <input name="type" type="radio" value="organization">
            Organization
        </label> <br>
        <div class="form-group">
            <input autofocus class="form-control" name="passcode" placeholder="Write 'VoluntAddis'" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input autofocus class="form-control" name="confirmation" placeholder="Re-enter password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
