{% extends "layout.html" %}

{% block title %}
    Stories
{% endblock %}


{% block main %}
        <center>
            <p>
                <a href="https://www.peacecorps.gov/stories/introspective-journey-black-volunteer-ethiopia/">
                <img alt="Volunteering Pic" src="static/pic1.JPG" width="900" height="400" class="center"><br>
                <strong>When Adrienne Hall started her Peace Corps service in 2012, she was eager to immerse herself in a new culture. </strong>
                </a><br>
                After two years of living and working in Ethiopia, Hall had learned many things about the country, but she also sought to understand the larger historical and cultural forces that shaped her experience as a female African-American Volunteer.
            </p>
            <p>
                <a href="http://www.redcrosseth.org/news-and-media/news/item/1238-n-the-past-few-months-birtukan-and-her-family-have-experienced-incredible-loss-and-hardship-she-her-husband-and-two-boys-had-to-flee-their-home-in-west-guji-zone-when-their-property-was-set-on-fire-during-civil-unrest-the-walk-from-their-village-t">
                <img alt="Volunteering Pic2" src="static/pic2.JPG" width="900" height="400" class="center"><br>
                <strong>Food brings hope to malnourished children and women </strong>
                </a><br>
                In the past few months Birtukan and her family have experienced incredible loss and hardship. She, her husband and two boys had to flee their home in West Guji Zone when their property was set on fire during civil unrest.…
            </p>
            <p>
                <a href="https://www.awib.org.et/currency/focus/item/808-the-ywca-of-ethiopia-the-best-kept-secret-in-the-nation.html">
                <img alt="Volunteering Pic3" src="static/pic3.JPG" width="900" height="400" class="center"><br>
                <strong>The YWCA of Ethiopia—the best kept secret in the Nation </strong>
                </a><br>
                YWCA is a movement of women working for social and economic change around the world. It advocates for young women’s leadership, peace, justice, human rights and sustainable development, both on a grassroots and global scale. It is the largest women’s organization in the world, and the second oldest organization of its kind. Each year the World YWCA reaches more than 25 million women, young women and girls through their work at grassroots level in 22,000 communities. The organization is currently based in Geneva, Switzerland.
            </p>
        </center>
{% endblock %}
