nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: white;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table, th, td
{
    border: 1px solid black;
}

.f1
{
  background-image: url("/static/icon.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

div .a {
    font-size: large;
}